.profile-box {
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  box-shadow: 5px 5px 5px #888888;
  margin: 20px;
}

.headerImg {
  min-height: 220px;
  min-width: 1270px !important;
}

.price{
  color: #7ED321;
  margin-top: -10px !important;
  font-size: 25px;
}

.green-text {
  font-size: 25px;
  font-weight: bold;
  color: #7ED321;
}

h2 {
  font-weight: bold;
}

.lookingFor {
  margin: -30px 0 5px 0 !important;
}

h4 {
  color: #696969;
  margin-top: -10px;
}

p {
  color: #696969;
  line-height: 1.4;
}

.summaryTitle {
  margin-top: 130px;
  margin-bottom: 0px !important;
}

.title {
  font-size: 22px;
  color: #7ED321;
  margin-bottom: -5px;
}

.subtitle {
  font-size: 16px;
}

google-chart {
  width: 100%;
}

.footerSpace {
  min-height: 30px;
}

.payback {
  min-width: 100% !important;
  width: 100% !important;
}

.loanOutstanding {
  margin: 20px 0 0px 0;
}

.loanOutstandingTop {
  margin: 67px 0 0px 0;
}
