.profile-box {
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  max-width: 700px !important;
  min-width: 700px !important;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.houseImg {
  min-height: 430px;
  min-width: 1270px !important;
}

.price{
  color: #7ED321;
  margin-top: -10px !important;
  font-size: 25px;
}

.green-text {
  font-size: 25px;
  font-weight: bold;
  color: #7ED321;
}

h2 {
  font-weight: bold;
}

h4 {
  color: #696969;
  margin-top: -10px;
}

p {
  color: #696969;
  line-height: 1.4;
}

button {
  background-color: #7ED321 !important;
  border-radius: 50px !important;
  font-size: 18px !important;
  color: white !important;
  min-height: 50px;
  box-shadow: 5px 5px 5px #888888;
  width: 206px;

  .orange {
    background-color: orange !important;
  }
}

.rate {
  margin-left: 17px;
  font-size: 30px;
  color: #7ED321;
}

.video {
  margin-top: -55px !important;
}

.floatingLabelStyle {
  color: #7ED321;
}

.floatingLabelFocusStyle {
  color: #7ED321;
}

.invest {
  margin: -10px 0 30px 100px;
}

.investAmount {
  margin-right: 40px;
}
